{% extends 'base.html' %}

 
{% block title %}Home{% endblock %}

{% block navbar %}
<ul class="navbar-nav mr-auto">
  <li class="nav-item activate">
    <a class="nav-link" href="{% url 'records' %}">出勤簿</a>
  </li>
  <li class="nav-item activate">
    <a class="nav-link" href="{% url 'fix_request' %}">打刻修正</a>
  </li>
  {% if request.user.is_staff %}
  <li>
    <a class="nav-link" href="{% url 'fix_acception' %}">打刻承認</a>
  </li>
  <li class="nav-item activate">
    <a class="nav-link" href="{% url 'work_time' %}">集計一覧</a>
    </li>
  {% endif %}
</ul>
<span class="navbar-text">
  <form action="{% url 'logout' %}" method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-primary btn-info">ログアウト</button>
  </form>
</span>
{% endblock %}

{% block content %}
<style>
  body {
    background: #eeeeee;
  }
  .disabled-button {
    opacity: 0.5;
    cursor: not-allowed;
  }
  .clock-container {
    display: flex; /* Flexboxを有効化 */
    justify-content: space-between;
    margin-bottom: 20; /* 子要素の間に均等なスペースを作る *//* 子要素を中央揃えにする */
  }
  #myClock {
    font-size: 4em; /* フォントサイズを大きくする */
    font-weight: bold; /* フォントを太くする */
    color: #414141; /* フォントの色を変更する */
    background-color: #eeeeee; /* 背景色を変更する */
    border-radius: 20px; /* 角を丸くする */
    padding: 20px; /* 内側の余白を追加する */
    margin-top: 30px;
    margin-right: 85px;
    display: inline-block; /* インラインブロック要素として表示 */
  }
  #dateDisplay {
    font-size: 1em; /* フォントサイズを適切に設定する */
    font-weight: bold; /* フォントウェイトを適切に設定する */
    color: #414141;
    border-radius: 20px; /* フォントの色を適切に設定する */
    margin-bottom: 10px; 
    margin-top: 50px;
  }
  h2 {
    color: #414141;
    margin-top: 30px;
    font-weight: bold;
  }

  
</style>
{% csrf_token %}
  <h2>こんにちは{{ user.username }}さん!</h2> <!-- django.contrib.authのUserモデルからユーザー名を取得 -->
  <div class="clock-container">
    <div id="dateDisplay"></div> <!-- 日付と曜日を表示するための要素 -->
    <h1 id="myClock" class="display-4"></h1>
  </div>
  <div class="container my-2">
    <div class="row">
      <div class="d-grip gap-2 mx-auto">
        <button id="attendance_button" type="button" class="btn btn-lg btn-success">出勤</button>
    </div>
      <div class="d-grip gap-2 mx-auto"> <!-- 休憩ボタンの追加 -->
        <button id="break_start_button" type="button" class="btn btn-lg btn-warning">休憩開始</button>
        <button id="break_end_button" type="button" class="btn btn-lg btn-warning">休憩終了</button>
      </div>
      <div class="d-grip gap-2 mx-auto">
        <button id="leave_button" type="button" class="btn btn-lg btn-danger">退勤</button>
      </div>
    </div>
  </div>
  <div id="push_result" class="alert" role="alert" style="display:none"></div>

  <script>
    // デジタル時計を生成
    function updateClock() {
      let now = new Date();
      let hour = now.getHours();
      let min = now.getMinutes();
      let sec = now.getSeconds();
      if (hour < 10) hour = "0" + hour; //時、分、秒が10未満の場合は、先頭に "0" を追加して2桁表示に整形。
      if (min < 10) min = "0" + min;
      if (sec < 10) sec = "0" + sec;
      // getElementById()メソッドでid属性がmyClockの要素を取得し、innerHTMLプロパティで要素内のテキストを書き換える
      document.getElementById("myClock").innerHTML = hour + ":" + min + ":" + sec;
    }
    setInterval("updateClock();", 1000); // setInterval…一定時間ごとに特定の処理を繰り返す
    $(document).ready(function() {
    
      // 日付と曜日を表示するスクリプト
    function updateDateAndTime() {
      let now = new Date();
      let year = now.getFullYear();
      let month = now.getMonth() + 1; // 月は0から始まるため1を加える
      let day = now.getDate();
      let week = ['日', '月', '火', '水', '木', '金', '土'][now.getDay()]; // 曜日を取得
      let dateStr = `${year}/${month}/${day}(${week})`; // 日付と曜日の文字列を生成
      // getElementById()メソッドでid属性がdateDisplayの要素を取得し、textContentプロパティで要素内のテキストを書き換える
      document.getElementById("dateDisplay").textContent = dateStr; // 日付と曜日を表示
      updateClock(); // 時間を更新
    }

    setInterval(updateDateAndTime, 1000);

    // 出勤ボタンを押した際の処理

    $('#attendance_button').on('click', function() { //jqueryでボタンのid属性を指定して.onでクリックイベントを設定。 click：要素がクリックされた時に発動
      $('#push_result').removeClass('alert-danger'); 
      $('#push_result').removeClass('alert-info');
      $('#push_result').hide();
      $(this).prop('disabled', true).addClass('disabled-button');
      $('#break_start_button').prop('disabled', false).removeClass('disabled-button');
      $('#break_end_button, #leave_button').prop('disabled', true).addClass('disabled-button');
      // csrfトークンを取得
      $.ajax({
        url: "{% url 'push' %}",
        method:'POST',
        dataType: 'json',
        data: {
          push_type:'attendance'
        },
        beforeSend: function(xhr, settings) {
          if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            let csrfToken = getCookie('csrftoken');
            xhr.setRequestHeader("X-CSRFToken", csrfToken);
          }
        },
      })
      .done(function(data) {
        console.log(data);
        console.log(data.attendance_time);
        if (data.result == 'success') {
          $('#push_result').text('出勤しました： ' + data.attendance_time);
          $('#push_result').addClass('alert-info');
          $('#push_result').show();
        } else {
          $('#push_result').text('すでに打刻しています');
          $('#push_result').addClass('alert-danger');
          $('#push_result').show();
        }
      });
    });

    // 休憩開始ボタンを押した際の処理
    $('#break_start_button').on('click', function() {
      $('#push_result').removeClass('alert-danger');
      $('#push_result').removeClass('alert-info');
      $('#push_result').hide();
    // csrfトークンを取得
    $.ajax({
        url: "{% url 'push' %}",
        method: "POST",
        dataType: 'json',
        data: {
         push_type: 'break_start'
        },
        beforeSend: function(xhr, settings) {
          if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            let csrfToken = getCookie('csrftoken');
            xhr.setRequestHeader("X-CSRFToken", csrfToken);
          }
        },
      })
      .done(function(data) {
        console.log(data);
        if (data.result == 'break_start_success') {
          $(this).prop('disabled', true).addClass('disabled-button');
          $('#break_end_button').prop('disabled', false).removeClass('disabled-button');
          $('#attendance_button, #leave_button').prop('disabled', true).addClass('disabled-button')
          $('#push_result').text('休憩開始しました： ' + data.break_start_time);
          $('#push_result').addClass('alert-info').show();
        } else {
          $('#push_result').text('出勤打刻されていないか、休憩は既に開始されています').addClass('alert-danger').show();
        }
      });
    });
    //休憩終了ボタンを押した際の処理
    $('#break_end_button').on('click', function() {
      $(this).prop('disabled', true).addClass('disabled-button');
      $('#leave_button').prop('disabled', false).removeClass('disabled-button');
      $('#attendance_button, #break_start_button').prop('disabled', true).addClass('disabled-button');
      $('#push_result').removeClass('alert-danger');
      $('#push_result').removeClass('alert-info');
      $('#push_result').hide();
    // csrfトークンを取得
    $.ajax({
      url: "{% url 'push' %}",
      method: "POST",
      dataType: 'json',
      data: {
        push_type: 'break_end'
      },
      beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
          let csrfToken = getCookie('csrftoken');
          xhr.setRequestHeader("X-CSRFToken", csrfToken);
        }
      },
    })
    .done(function(data) {
        if (data.result == 'break_end_success') {
          $('#push_result').text('休憩終了しました： ' + data.break_end_time);
          $('#push_result').addClass('alert-info').show();
        } else {
          $('#push_result').text('休憩が開始されていないか、既に終了しています').addClass('alert-danger').show();
        }
      });
    });
    // 退勤ボタンを押した際の処理
    $('#leave_button').on('click', function () {
      $('#push_result').removeClass('alert-danger');
      $('#push_result').removeClass('alert-info');
      $('#push_result').hide();
      // csrfトークンを取得
      $.ajax({
        url: "{% url 'push' %}",
        method: "POST",
        dataType: 'json',
        data: {
         push_type: 'leave'
        },
        beforeSend: function(xhr, settings) {
          if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            let csrfToken = getCookie('csrftoken');
            xhr.setRequestHeader("X-CSRFToken", csrfToken);
          }
        },
      })
      .done(function(data) {
        console.log(data);
        if (data.result == 'success'){
          $('#push_result').text('本日もお疲れ様でした： ' + data.leave_time);
          $('#push_result').addClass('alert-info');
          $('#push_result').show();
        } else if (data.result == 'not_attended') {
          $('#push_result').text('まだ出勤打刻がされていません');
          $('#push_result').addClass('alert-danger');
          $('#push_result').show();
        } else {
          $('#push_result').text('すでに退勤打刻がされています');
          $('#push_result').addClass('alert-danger');
          $('#push_result').show();
        }
      });
    });
  });
  </script>
{% endblock %}

