{% extends 'base.html' %}
 
{% block title %}Home{% endblock %}

{% block navbar %}
<ul class="navbar-nav mr-auto">
  <li class="nav-item activate">
    <a class="nav-link" href="{% url 'records' %}">出勤簿</a>
  </li>
  <li class="nav-item activate">
    <a class="nav-link" href="{% url 'fix_request' %}">打刻修正</a>
  </li>
  {% if request.user.is_staff %}
  <li>
    <a class="nav-link" href="{% url 'fix_acception' %}">打刻承認</a>
  </li>
  <li class="nav-item activate">
    <a class="nav-link" href="{% url 'work_time' %}">集計一覧</a>
    </li>
  {% endif %}
</ul>
<span class="navbar-text">
  <form action="{% url 'logout' %}" method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-primary btn-sm">ログアウト</button>
  </form>
  
</span>
{% endblock %}

{% block content %}
{% csrf_token %}
  <h2>こんにちは{{ user.username }}さん!</h2>
  <div class="row justify-content-md-center bg-light">
    <h1 class="display-4" id="myClock"></h1>
  </div>
  <div class="container my-2">
    <div class="row">
      <div class="d-grip gap-2 mx-auto">
        <button id="attendance_button" type="button" class="btn btn-lg btn-success">出勤</button>
    </div>
      <div class="d-grip gap-2 mx-auto"> <!-- 休憩ボタンの追加 -->
        <button id="break_start_button" type="button" class="btn btn-lg btn-warning">休憩開始</button>
        <button id="break_end_button" type="button" class="btn btn-lg btn-warning">休憩終了</button>
      </div>
      <div class="d-grip gap-2 mx-auto">
        <button id="leave_button" type="button" class="btn btn-lg btn-danger">退勤</button>
      </div>
    </div>
  </div>
  <div id="push_result" class="alert" role="alert" style="display:none"></div>

  <script>
    // デジタル時計を生成
    function updateClock() {
      let now = new Date();
      let hour = now.getHours();
      let min = now.getMinutes();
      let sec = now.getSeconds();
      if (hour < 10) hour = "0" + hour;
      if (min < 10) min = "0" + min;
      if (sec < 10) sec = "0" + sec;
      document.getElementById("myClock").innerHTML = hour + ":" + min + ":" + sec;
    }
    setInterval("updateClock();", 1000);

    // 出勤ボタンを押した際の処理
    $('#attendance_button').on('click', function() {
      $('#push_result').removeClass('alert-danger');
      $('#push_result').removeClass('alert-info');
      $('#push_result').hide();
      // csrfトークンを取得
      $.ajax({
        url: "{% url 'push' %}",
        method:'POST',
        dataType: 'json',
        data: {
          push_type:'attendance'
        },
        beforeSend: function(xhr, settings) {
          if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            let csrfToken = getCookie('csrftoken');
            xhr.setRequestHeader("X-CSRFToken", csrfToken);
          }
        },
      })
      .done(function(data) {
        console.log(data);
        console.log(data.attendance_time);
        if (data.result == 'success') {
          $('#push_result').text('出勤しました： ' + data.attendance_time);
          $('#push_result').addClass('alert-info');
          $('#push_result').show();
        } else {
          $('#push_result').text('すでに打刻しています');
          $('#push_result').addClass('alert-danger');
          $('#push_result').show();
        }
      });
    });

    // 休憩開始ボタンを押した際の処理
    $('#break_start_button').on('click', function() {
      $('#push_result').removeClass('alert-danger');
      $('#push_result').removeClass('alert-info');
      $('#push_result').hide();
    // csrfトークンを取得
    $.ajax({
        url: "{% url 'push' %}",
        method: "POST",
        dataType: 'json',
        data: {
         push_type: 'break_start'
        },
        beforeSend: function(xhr, settings) {
          if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            let csrfToken = getCookie('csrftoken');
            xhr.setRequestHeader("X-CSRFToken", csrfToken);
          }
        },
      })
      .done(function(data) {
        console.log(data);
        if (data.result == 'break_start_success') {
          $('#push_result').text('休憩開始しました： ' + data.break_start_time);
          $('#push_result').addClass('alert-info').show();
        } else {
          $('#push_result').text('出勤打刻されていないか、休憩は既に開始されています').addClass('alert-danger').show();
        }
      });
    });
    //休憩終了ボタンを押した際の処理
    $('#break_end_button').on('click', function() {
      $('#push_result').removeClass('alert-danger');
      $('#push_result').removeClass('alert-info');
      $('#push_result').hide();
    // csrfトークンを取得
    $.ajax({
      url: "{% url 'push' %}",
      method: "POST",
      dataType: 'json',
      data: {
        push_type: 'break_end'
      },
      beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
          let csrfToken = getCookie('csrftoken');
          xhr.setRequestHeader("X-CSRFToken", csrfToken);
        }
      },
    })
    .done(function(data) {
        if (data.result == 'break_end_success') {
          $('#push_result').text('休憩終了しました： ' + data.break_end_time);
          $('#push_result').addClass('alert-info').show();
        } else {
          $('#push_result').text('休憩が開始されていないか、既に終了しています').addClass('alert-danger').show();
        }
      });
    });
    // 退勤ボタンを押した際の処理
    $('#leave_button').on('click', function () {
      $('#push_result').removeClass('alert-danger');
      $('#push_result').removeClass('alert-info');
      $('#push_result').hide();
      // csrfトークンを取得
      $.ajax({
        url: "{% url 'push' %}",
        method: "POST",
        dataType: 'json',
        data: {
         push_type: 'leave'
        },
        beforeSend: function(xhr, settings) {
          if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            let csrfToken = getCookie('csrftoken');
            xhr.setRequestHeader("X-CSRFToken", csrfToken);
          }
        },
      })
      .done(function(data) {
        console.log(data);
        if (data.result == 'success'){
          $('#push_result').text('本日もお疲れ様でした： ' + data.leave_time);
          $('#push_result').addClass('alert-info');
          $('#push_result').show();
        } else if (data.result == 'not_attended') {
          $('#push_result').text('まだ出勤打刻がされていません');
          $('#push_result').addClass('alert-danger');
          $('#push_result').show();
        } else {
          $('#push_result').text('すでに退勤打刻がされています');
          $('#push_result').addClass('alert-danger');
          $('#push_result').show();
        }
      });
    });
  </script>
{% endblock %}